acl internal {
  %{ for subnet in acl ~}
  ${subnet};
  %{ endfor ~}
};

options {
  forwarders {
    %{ for ip in forwarders ~}
    ${ip};
    %{ endfor ~}
  };
  allow-query { internal; };
};

key "tsig-key" {
    algorithm hmac-sha256;
    secret "${key}";
};

zone "${zone}" IN {
  type master;
  file "/etc/bind/${zonefile}.zone";
  update-policy { grant tsig-key zonesub any; };
};
